<div class="overflow-hidden">
    <div class="banner">
        <img src="../../../../assets/homebanner.jpg" alt="HomeBanner" width="100%">
    </div>
    <br><br>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="banner">
                    <img src="../../../../assets/photo.png" alt="HomeBanner" width="100%">
                </div>
            </div>
            <div class="col-md-6">
                <p class="fw-bold lh-1">LIFE IS GOOD WHEN YOU SMILE ON!
                </p>
                <p class="fw-bolder fs-1 lh-1" style="color: rgb(19, 80, 19);">
                    Caring For Your Smile
                </p>
                <br><br>
                <p class="fw-bold text-secondary">Welcome to Saint Anthony Dental Clinic. Your smile is our passion. We are glad you have chosen us for your oral health needs and hope our clinicians and staff exceed your expectations.</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;">Saint anthony provides an all-encompassing range of dental care, from basic diagnosis to advanced and complex reconstructive surgeries.</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;">we take care of everything to make your visit very enjoyable. CM Dental also treats you with honesty and compassion, unlike any other dental clinic.</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;">Our principles of being customer-friendly and cost-effective in offering all-encompassing dental solutions We provide a wide variety of dental care services. </p>
            </div>
        </div>
    </div>
    <div class="bgwhite">
        <br><br><br><br><br><br><br>
        <div class="container">
          <div class="body d-flex justify-content-center">
              <div class="flex-column">
                  <div class="home__body-info d-flex justify-content-center">
                      <p style="font-size: smaller;" class="fw-bold">KEEP SMILING, STAY CONFIDENT!</p>
                   </div>
                   <div class="home__body-title d-flex justify-content-center">
                       <p>OUR DOCTORS</p>
                   </div>
              </div>
          </div>
          <br>
        </div>
        <br><br><br><br><br><br><br>
      </div>
    
    <div class="container mt-5 bgdirty">
        <div class="row">
            <div class="col-md-6">
                <p class="fw-bold lh-1" style="font-size: 14px;">Hello there! I am
                </p>
                <p class="fw-bolder fs-1 lh-1" style="color: rgb(19, 80, 19);">
                    Dr. Cynthia White
                </p>
                <br><br>
                <p class="fw-bold text-secondary" style="text-align: justify; text-justify: inter-word;">Dr. Cynthia was born and raised in Philippines. She obtained a Doctor of Dental Surgery (DDS) degree in 1994 from the Denstistry University in Philippines. He has been a licensed filipino dentist since January 2012.</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;">She has maintained her commitment to excellence over the last 20 years. Each year, she attends numerous advanced continuing education courses all around the world to stay abreast of the latest techniques in dentistry and upgrade her education and skills. Her goal is to provide her patients with exceptional dental care and the very best treatment solutions available.</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;">Dr Cynthia offers services in: Family/Cosmetic Dentistry, Endodontics, Implants, Periodontal Surgery, and Orthodontics (Braces/Invisalign).</p>
            </div>

            <div class="col-md-6">
                <div class="banner">
                    <img src="../../../../assets/doctor1.png" alt="HomeBanner" width="70%">
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="banner">
                    <img src="../../../../assets/doctor2.png" alt="HomeBanner" width="100%">
                </div>
            </div>
            <div class="col-md-6">
                <p class="fw-bold lh-1" style="font-size: 14px;">Hello there! I am
                </p>
                <p class="fw-bolder fs-1 lh-1" style="color: rgb(19, 80, 19);">
                    Dr. Roxanne Matias
                </p>
                <br><br>
                <p class="fw-bold text-secondary" style="text-align: justify; text-justify: inter-word;">Dr. Roxanne got her DDS degree from Singapore. After working for two years as a general dentist, she realized her passion for working with kids. Following a three-year masters program in Pediatric Dentistry in Iran, she practiced for seven years as a pediatric dentist there.</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;"> After coming to Philippines, she completed a three-year program at the University of the Philippines to obtain her MSc in Pediatric Dentistry. Dr. Roxanne is a Board-Certified Specialist in Pediatric Dentistry and a member of PAPD (Philippine Academy of Pediatric Dentistry), SAPD (Singaporean Academy of Pediatric Dentistry), OSPD (Ontario Society of Paediatric Dentists), PDA (Philippine Dental Association) and ODA (Ontario Dental Association).</p>
                <br><p class="text-secondary" style="text-align: justify; text-justify: inter-word;">Outside of dentistry, Dr. Roxanne loves spending time with her family. She also loves water color painting, photography, reading, cooking and playing tennis. </p>
            </div>
        </div>
    </div>

    <div class="bgwhite">
        <br><br><br><br><br><br><br>
        <div class="container">
          <div class="body d-flex justify-content-center">
              <div class="flex-column">
                  <div class="home__body-info d-flex justify-content-center">
                      <p style="font-size: smaller;" class="fw-bold">COMFORTABLE AS THEY SAY.</p>
                   </div>
                   <div class="home__body-title d-flex justify-content-center">
                       <p>OUR FACILITY</p>
                   </div>
              </div>
          </div>
          <br>
        </div>
        <br><br><br><br><br><br><br>
      </div>

      <div class="container mt-5 bgdirty">
        <div class="row">
            <div class="col-md-6">
                <p class="fw-bolder fs-1 lh-1" style="color: rgb(19, 80, 19);">
                    In-House Operations
                </p><br>
                <p class="fw-bold text-secondary" style="text-align: justify; text-justify: inter-word;">In addition to the General Paediatrics outpatient service we have a fully-equipped Specialized Dental Operation Theatre which enables you to provide your patients excellent care and service.
                </p>
                
                <br>
                <p class="text-secondary" style="text-align: justify; text-justify: inter-word;">• General Anesthesia facility to rehabilitate full mouth dental procedures in a single visit using advanced dental equipment</p>
                <p class="text-secondary" style="text-align: justify; text-justify: inter-word;">• Comprehensive Pediatric Dental Care, including treatment under sedation or general anesthesia. You can provide specialized treatment care for children by relieving them from the fear of surgery through a pleasant stay with excellent service in our patient wards.</p>
                <p class="text-secondary" style="text-align: justify; text-justify: inter-word;">•All advanced or lengthy implant procedures can easily be handled, as our support staff of nurses and theatre technicians are well-trained and experienced.</p>
            </div>

            <div class="col-md-6">
                <div class="banner">
                    <img src="../../../../assets/facility.jpg" alt="HomeBanner" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="bgwhite ">
        <div class="container-sm">
            <br><br><br><br><br><br>
        <div class="d-flex justify-content-center">
            <div class="flex-column">
            <p class="fw-bold fs-6 text-center lh-1">A PERFECT SMILE GUARANTEED</p>
            <a class="btn btn-outline-success fw-bolder fs-2 text-center lh-1" href="book-now" style="color: rgb(19, 80, 19);">BOOK AN APPOINTMENT</a>
            </div>
        </div>
          <br><br><br>
          <div class="container-sm">
    <div class="flex-container ms-3 me-3">
      <div class="d-flex flex-wrap justify-content-evenly">
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/cell-phone.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">+63 998 4981 403</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/old-typical-phone.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">0251-6229</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/email.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">sa-dc@email.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
  </div>