<div class="overflow-hidden">
  <div class="banner">
    <img src="../../../../assets/stanthony.jpg" alt="HomeBanner" width="100%">
</div>
<div class="bgdirty">
  <br><br><br>
  <div class="container">
    <div class="body d-flex justify-content-center">
        <div class="flex-column">
            <div class="home__body-info d-flex justify-content-center">
                <p style="font-size: smaller;" class="fw-bold">FIND OUT THE DIFFERENT TYPES OF SERVICES WE DO..</p>
             </div>
             <div class="home__body-title d-flex justify-content-center">
                 <p>OUR SERVICES</p>
             </div>
        </div>
    </div>
    <br>
  </div>
</div>
<div class="bgwhite">
  <br><br>
  <div class="container-sm">
    <div class="flex-container ms-3 me-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/periapical.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">Periapical x-ray</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/clean.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">Teeth Whitening</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/root-canal.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">Root Canal</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/braces.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">ORTHODONTICS</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/implant.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">IMPLANTS</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/tooth-extraction.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">TOOTH EXTRACTION</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/dentures.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">DENTURES</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/fluoride.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">FLUORIDE VARNISH</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/dental-veneer.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">VENEER</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/dentistry.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">CROWINING</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100 bgdirty">
  <br>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="banner">
            <img src="../../../../assets/kids-smile.jpg" alt="HomeBanner" width="100%">
        </div>
      </div>
      <div class="col-md-6">
        <br>
        <p class="fw-bold lh-1">LAUGHTER IS THE BEST MEDICINE!</p>
            <p class="fw-bolder fs-1 lh-1" style="color: rgb(19, 80, 19);">
                MAKE YOUR SMILE BRIGHTER
            </p><br>
            <p class="fw-bold text-secondary" style="text-align: justify; text-justify: inter-word;">Welcome to Saint Anthony Dental Clinic. Your smile is our passion. We are glad you have chosen us for your oral health needs and hope our clinicians and staff exceed your expectations.</p>
            <a href="about" class="btn btn-info text-dark btn-outline-secondary fw-bold">ABOUT US</a>
        </div>
    </div>
  </div>
  <br><br><br>
</div>

<div class="w-100 bgwhite">
  <br><br>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <br>
        <p class="fw-bold lh-1 fs-smaller">FIND OUT OUR</p>
        <p class="fw-bolder fs-1 lh-1" style="color: rgb(19, 80, 19);">
            FEATURED SERVICE
        </p><br>
        <p class="fw-bold text-secondary" style="text-align: justify; text-justify: inter-word;">Metal braces are an orthodontic treatment that may help align crooked or overcrowded teeth. Braces also have an important role in improving oral health. Malocclusion — the misalignment of a person's teeth and bite — may lead to health problems, such as jaw problems, chewing or speech issues, or gum disease.</p>
        <a href="services" class="btn btn-info text-dark btn-outline-secondary fw-bold">LEARN MORE</a>
      </div>
      <div class="col-md-6">
        <div class="banner mt-3">
            <img src="../../../../assets/homeservice.jpg" alt="HomeBanner" style="margin: 0 auto;" width="90%">
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
<div class="bgdirty">
  <div class="container-sm">
      <br><br><br><br><br><br>
  <div class="d-flex justify-content-center" >
      <div class="flex-column">
      <p class="fw-bold fs-6 text-center lh-1">A PERFECT SMILE GUARANTEED</p>
      <a class="btn btn-outline-success fw-bolder fs-2 text-center lh-1" href="book-now" style="color: rgb(19, 80, 19);">BOOK AN APPOINTMENT</a>
      </div>
  </div>
  <br><br><br>
  <div class="container-sm">
    <div class="flex-container ms-3 me-3">
      <div class="d-flex flex-wrap justify-content-evenly">
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/cell-phone.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">+63 998 4981 403</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/old-typical-phone.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">0251-6229</p>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="card mb-4 border-success">
            <img class="card-img-top padding" src="../../../../assets/email.png" alt="Service Image">
            <div class="card-body">
              <p class="card-title text-center text-uppercase font">sa-dc@email.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
  </div>
</div>
</div>
</div>