<div class="overflow-hidden">
    <div class="banner">
        <img src="../../../../assets/servicebanner.png" alt="HomeBanner" width="100%">
    </div>
    <div class="w-100 bgdirty">
        <br><br><br><br><br>
        <div class="d-flex justify-content-center">
            <div class="flex-column">
            <p class="fw-bold fs-5 text-center lh-1">TREATMENTS</p>
            <p class="fw-bolder fs-2 text-center lh-1" style="color: rgb(19, 80, 19);">ROOT CANAL</p>
            </div>
        </div>
        <br><br><br><br><br>
    </div>
    <div class="w-100 bgwhite">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="../../../../assets/service-rootcanal.jpg" alt="HomeBanner" width="80%">
                </div>
                <div class="col-md-6 ">
                    <br>
                    <p class="fw-bolder fs-2 " style="color: rgb(25, 119, 25);">ROOT CANAL TREATMENT</p><br>
                    <p class="lead fs-5 lh-lg" style="text-align: justify; text-justify: inter-word;">
                        The tooth is made up of three layers, such as enamel, dentine, and pulp (the innermost layer). When a tooth has decay, large and deep fillings, cracked or fractured due to an accident or excessive wear of enamel due to grinding, there will be a sign of pulp damage, which includes pain, prolonged sensitivity to heat and cold, discoloration of the tooth, swelling, tenderness of the overlying gums, or a bad taste in the mouth. The RCT saves the teeth that would otherwise be extracted. After the root canal treatment, the tooth can function normally.
                    </p><br><br>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <br>
                    <p class="fw-bolder fs-2 " style="color: rgb(25, 119, 25);">THIS PROCEDURE INVOLVES</p>
                    <p class="lead fs-5 lh-lg" style="text-align: justify; text-justify: inter-word;">
                        The manufacturing industry became a key sector of production and labour in European and North American countries during the Industrial Revolution, upsetting previous mercantile and feudal economies. The Industrial Revolution, which took place from the 18th to the 19th centuries.            
                    </p><br>
                    <p class="lead fs-6"><i class="fa fa-check me-2"></i>Removal of inflamed or infected tooth material.</p>
                    <p class="lead fs-6"><i class="fa fa-check me-2"></i>Cleaning and Disinfection.            </p>
                    <p class="lead fs-6"><i class="fa fa-check me-2"></i>Filling and sealing with an inert material.</p>
                    <p class="lead fs-6"><i class="fa fa-check me-2"></i>Restoration of the crown with an aesthetic cap.</p>
                    <p class="lead fs-6"><i class="fa fa-check me-2"></i>It is a multi-step procedure and may require multiple visits.</p>
            
                    </div>
                <div class="col-md-6">
                    <img src="../../../../assets/service-rootcanal2.jpeg" alt="HomeBanner" width="75%">
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 bgdirty">
        <div class="container">
            <br><br><br><br><br>
            <div class="d-flex justify-content-center">
                <div class="flex-column">
                    <p class="fw-bold fs-5 text-center lh-1">TREATMENTS</p>
                    <p class="fw-bolder fs-2 text-center lh-1" style="color: rgb(19, 80, 19);">DENTURES</p>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>
    <div class="w-100 bgwhite">
        <div class="container">
            <div class="row">
                <div class="col-md-6  d-flex justify-content-center">
                    <img src="../../../../assets/service-dentures.jpg" alt="HomeBanner" width="80%">
                </div>
                <div class="col-md-6 ">
                    <p class="fw-bolder fs-2 " style="color: rgb(25, 119, 25);">DENTURES TREATMENT</p><br>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        Dentures are removable prostheses that are used to replace missing teeth and tissue. Dentures are of two types: complete and partial.            
                    </p>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        Complete dentures are advised when all the teeth are missing, and partial dentures are applied when some natural teeth are missing. They are custom-made especially for a set of teeth and gum lines.           
                        </p>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        Complete dentures fit over the upper teeth and roof and on the lower teeth, placed like a horseshoe. They are conventional dentures and are removed during the night for cleaning.
                    </p>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        A partial denture rests on a metal framework that attaches to your natural teeth. Sometimes crowns are placed on some of your natural teeth and serve as anchors for the denture. Partial dentures offer a removable alternative to bridges.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bgdirty">
        <div class="container">
            <br><br><br><br><br>
            <div class="d-flex justify-content-center">
                <div class="flex-column">
                    <p class="fw-bold fs-5 text-center lh-1">TREATMENTS</p>
                    <p class="fw-bolder fs-2 text-center lh-1" style="color: rgb(19, 80, 19);">ORTHODONTICS</p>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>

    <div class="w-100 bgwhite">
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-6 ">
                    <p class="fw-bolder fs-2 " style="color: rgb(25, 119, 25);">ORTHODONTICS TREATMENT</p><br>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        Orthodontic treatments are dental procedures that help to straighten teeth and correct problems with the bite. These treatments are performed by an orthodontist, who is a specialist dentist. Orthodontists treat children, teenagers and adults. Learn what to expect from orthodontic treatment here.            
                    </p>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        Orthodontic treatment can help improve appearance as well as bite. It can also help if you have problems with speaking, breathing and chewing. Having straight teeth can prevent damage from a bad bite, prevent tooth wear, and improve the mouth’s health.           
                        </p>
                    <p class="lead fs-5 lh-base" style="text-align: justify; text-justify: inter-word;">
                        However, orthodontic treatment takes a long time and can be costly. As with anything new, it may take you some time to adjust to wearing braces and to learn how to take care of your appliance. Orthodontic treatment is not suitable if you have unhealthy teeth and gums.
                    </p>
                </div>
                <div class="col-md-6  d-flex justify-content-center">
                    <img src="../../../../assets/homeservice.jpg" alt="HomeBanner" width="80%">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6  d-flex justify-content-center">
                    <img src="../../../../assets/orthodontics.jpg" alt="HomeBanner" width="80%">
                </div>
                <div class="col-md-6 ">
                    <p class="fw-bolder fs-2 " style="color: rgb(25, 119, 25);">When might you need orthodontic treatment?</p><br>
                    <p class="lead fs-5 lh-1" style="text-align: justify; text-justify: inter-word;">
                        • Crooked teeth or teeth that stick out,
                    </p>
                    <p class="lead fs-5 lh-1" style="text-align: justify; text-justify: inter-word;">
                        • a bad bite, which is how the upper and lower jaws meet when the mouth closes,
                    </p>
                    <p class="lead fs-5 lh-1" style="text-align: justify; text-justify: inter-word;">
                        • poorly aligned jaw,
                    </p>
                    <p class="lead fs-5 lh-1" style="text-align: justify; text-justify: inter-word;">
                        • gaps between the teeth,
                    </p>
                    <p class="lead fs-5 lh-1" style="text-align: justify; text-justify: inter-word;">
                        • problems with speaking, breathing or chewing.
                    </p>
                </div>
                
            </div>
        </div>
    </div>


    <div class="bgwhite ">
        <div class="container-sm">
            <br><br><br><br><br><br>
        <div class="d-flex justify-content-center">
            <div class="flex-column">
            <p class="fw-bold fs-6 text-center lh-1">A PERFECT SMILE GUARANTEED</p>
            <a class="btn btn-outline-success fw-bolder fs-2 text-center lh-1" href="book-now" style="color: rgb(19, 80, 19);">BOOK AN APPOINTMENT</a>
            </div>
        </div>
          <br><br><br>
          <div class="container-sm">
            <div class="flex-container ms-3 me-3">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="flex-item">
                  <div class="card mb-4 border-success">
                    <img class="card-img-top padding" src="../../../../assets/cell-phone.png" alt="Service Image">
                    <div class="card-body">
                      <p class="card-title text-center text-uppercase font">+63 998 4981 403</p>
                    </div>
                  </div>
                </div>
                <div class="flex-item">
                  <div class="card mb-4 border-success">
                    <img class="card-img-top padding" src="../../../../assets/old-typical-phone.png" alt="Service Image">
                    <div class="card-body">
                      <p class="card-title text-center text-uppercase font">0251-6229</p>
                    </div>
                  </div>
                </div>
                <div class="flex-item">
                  <div class="card mb-4 border-success">
                    <img class="card-img-top padding" src="../../../../assets/email.png" alt="Service Image">
                    <div class="card-body">
                      <p class="card-title text-center text-uppercase font">sa-dc@email.com</p>
                    </div>
                  </div>
                </div>
              </div>
           </div>
           <br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>